:root {
  --light-branding-color: rgba(203, 222, 215, 0.673);
  --light-text-color: rgb(95, 94, 94);
  --dark-branding-color: rgb(81, 114, 14);
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

h1 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: normal;
  font-size: 80px;
}
h2 {
  font-size: 40px;
  font-family: var(--default-font-family);
}
h3 {
  color: var(--light-text-color);
  font-family: var(--default-font-family);
  font-size: 18px;
  margin-top: 15px;
}
p {
  font-family: var(--default-font-family);
  font-size: 30px;
}

i {
  font-size: 40px;
  color: var(--dark-branding-color);
  margin: 15px;
}

nav {
  padding-top: 20px;
}

nav li {
  display: inline;
  list-style: none;
  margin-left: 12px;
}

nav a {
  text-decoration: none;
  color: rgb(98, 98, 98);
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--dark-branding-color);
}

.nav-bar {
  background-color: var(--light-branding-color);
}

.hero {
  background-color: var(--light-branding-color);
  text-align: center;
  padding-top: 100px;
  padding-bottom: 160px;
}

.photo-me {
  object-position: 50% 50%;
  width: 250px;
  border-radius: 20px;
}

.photo-about-me {
  width: 200px;
  border-radius: 20px;
}

.discription-box {
  border-radius: 4px;
  background-color: var(--light-branding-color);
}

.discription {
  font-size: 18px;
  margin-top: 15px;
}

.btn-branding {
  background: var(--dark-branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  font-family: var(--default-font-family);
  line-height: 27px;
  padding: 15px 18px;
  margin-left: 25px;
}

.btn-about-me {
  background: var(--light-branding-color);
  border-radius: 4px;
  font-size: 18px;
  font-family: var(--default-font-family);
  line-height: 27px;
  padding: 15px 18px;
  margin-left: 25px;
}
.container-btn {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.about-info {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 25px;
  padding-right: 14px;
}

.footer {
  text-align: center;
  padding: 20px;
}

.social-links {
  text-align: center;
  margin: 60px 0;
}

.social-links:hover {
  color: var(--light-branding-color);
}

@media (max-width: 900px) {
  h1 {
    font-size: 50px;
  }
  p {
    font-size: 20px;
  }
  nav a {
    font-size: 12px;
  }
  nav p {
    font-size: 14px;
  }
  .btn-about-me,
  .btn-branding {
    font-size: 12px;
    line-height: 10px;
  }
  .discription {
    font-size: 12px;
  }
}
